.timeline {
    border-left: 2px solid var(--border);

    margin-left: 20px;

    padding-left: 2rem;
}

.item {
    position: relative;

    margin-bottom: 4rem;
}

.dot {
    position: absolute;

    left: -43px;

    width: 16px;
    height: 16px;

    border-radius: 50%;

    background: var(--accent);
}

.content span {
    color: var(--accent);

    font-weight: 600;
}

.content h3 {
    margin: .6rem 0;
}

.content p {
    color: var(--text-secondary);

    line-height: 1.8;
}